<div class="logo">
    <a href="https://www.creative-tim.com" class="simple-text">
        <div class="logo-img">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/32877/logo-thing.png"/>
        </div>
    </a>
</div>
<div class="sidebar-wrapper">
    <form class="navbar-form navbar-right" role="search" *ngIf="isMobileMenu()">
        <div class="form-group form-black is-empty">
            <input type="text" class="form-control" name="query" [(ngModel)]="queryText" placeholder="Search">
            <span class="material-input"></span>
        </div>
        <button (click)="searchText()" class="btn btn-white btn-round btn-just-icon">
            <i class="material-icons">search</i><div class="ripple-container"></div>
        </button>
    </form>

    <ul class="nav nav-mobile-menu" *ngIf="isMobileMenu()">
        <li>
            <a class="dropdown-toggle">
                <i class="material-icons">menu</i>
                <p class="hidden-lg hidden-md">Advance</p>
            </a>
        </li>

        <li>
            <a [routerLink]="['/search']" href="#pablo" class="dropdown-toggle">
                <i class="material-icons">home</i>
                <p class="hidden-lg hidden-md">Back</p>
            </a>
        </li>

    </ul>

    <!--<div class="nav-container">-->
        <!--<ul class="nav">-->
            <!--<li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">-->
                <!--<a  [routerLink]="[menuItem.path]">-->
                    <!--<i class="material-icons">{{menuItem.icon}}</i>-->
                    <!--<p>{{menuItem.title}}</p>-->
                <!--</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
</div>
